/* Botones */
.btn {
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--2);
    color: var(--5);
    border: var(--5);
}

.nueva-tarea {
    margin-top: 10px;
    width: 30%;
    height: 10%;
    font-size: 17px;
}

.enviar-btn {
    height: 10%;
    width: 20%;
    margin: 0 auto;
}

.btn-salir {
    position: absolute;
    right: 3%;
    top: 4%;
    height: 10%;
    width: 5%;
    font-size: 17px;
}

.enviar-registro {
    height: 10%;
    width: 25%;
    padding: 10px;
    font-size: 1em;
}

/* Boton dinamico */

.btn-dinamico {
    width: 15%;
    height: 15%;
    margin-top: 15px;
}

.primero-de-clase {
    margin-left: 30%;
}

.segundo-de-clase {
    margin-left: 10%;
}

.editar-usuario {
    height: 20%;
    width: 15%;
    font-size: 1.5em;
    margin-top: 5%;
}


/* Inputs */


label {
    font-weight: bold;
    font-size: 1.5em;
}

input {
    margin-top: 15px;
    height: 30px;
    padding: 0 10px;
    width: 50%;
}

input[type="text"] {
    font-size: 1em;
}

input[type="text"]::placeholder {
    font-style: italic;
    color: var(--5);
}

#registro-usuario {
    text-align: center;
}

#descripcion-container {
    justify-content: space-between;
}

#descripcion {
    height: 60%;
    width: 90%;
    padding: 5px 10px;
    resize: none;
    margin-top: 10px;
}

#descripcion::placeholder {
    font-style: italic;
    color: var(--5);
}

input, #descripcion {
    margin-left: 20px;
    /* background-color: var(--2); */
    border-radius: 5px;
    border: 1px solid var(--4);
    outline: none !important;
    color: var(--5);
}

/* Responsive web */

@media screen and (max-width: 1080px) {
    .nueva-tarea {
        margin-top: 5vh;
        width: 40vw;
        height: 8vh;
        font-size: 2.5em !important;
    }

    .enviar-btn {
        width: 40vw;
        height: 8vh;
        margin: 0 auto;
        font-size: 2.5em !important;
    }

    .btn-salir {
        position: absolute;
        right: 5vw;
        top: 90vh;
        height: 7vh;
        width: 13vw;
        font-size: 3em !important;
    }

    .dialog-btn button {
        width: 35% !important;
        padding: 10px;
        font-size: 2.5em !important;
    }

    .editar-usuario {
        height: 80%;
        width: 30%;
        font-size: 3em;
    }

    input {
        margin-top: 15px;
        height: 5vh;
        width: 70%;
        padding: 0 10px;
        text-align: center;
        font-size: 3em !important;
    }

    input[type="text"] {
        font-size: 3em !important;
    }

    input::placeholder {
        text-align: center;
        /* font-size: 2em; */
    }

    label {
        font-size: 4em;
    }

    #descripcion {
        height: 60%;
        width: 90%;
        padding: 5px 10px;
        /* margin-top: 10px; */
        resize: none;
        text-align: center;
        font-size: 4em;
    }

    #registro-usuario {
        text-align: center;
        font-size: 1.5em;
    }

    .enviar-registro {
        width: 40vw;
        height: 8vh;
        font-size: 2.5em !important;
    }

    .btn-dinamico {
        width: 25%;
        height: 25%;
        margin-top: 15px;
        font-size: 2em;
    }
    
    .primero-de-clase {
        margin-top: 5%;
        margin-left: 20%;
    }
    
    .segundo-de-clase {
        margin-left: 10%;
    }
}
